body{
    background-color: #3A6D8C;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: #001F3F;
    color:#EAD8B1;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    
}

.avatar, a {
    text-decoration: none;
    color: #EAD8B1;
    font-size: 28px;
}




/* Main Section Styling*/
h1 {
    color: #EAD8B1;
    text-shadow: 2px 2px black;
    font-size: 80px;
}

h2 {
    color: white;
}

ul {
    list-style-type: none;
}


.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    width: 2000px;
    flex: 1 1 auto;
}

.section1 .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1300px;
    height: 700px;
    background-color: #001F3F;
}

img {
    width: 700px;
    height: 700px;
}


/* Section2 Styling*/
.section2 {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #EAD8B1;
}

.portocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 div {
    width: 200px;
    height: 200px;
    border: 5px solid yellow;
}